# Ignores library files
**.so
**.pyc
__pycache__/

# Ignores curp-environ and tutorial directory
curp-environ/
tutorial

# folders made by setup.py
build/
*.egg-info/
dist/
*.mod

# Ignore test outputs
test/**/outdata/*
test/**/*log

# Ignore doc outputs
_build/

.vscode/
venv/
.venv/

*.log