# Ignores library files
**.so
**.pyc

# Ignores curp-environ and tutorial directory
curp-environ/
tutorial

# folders made by setup.py
/build/
/curp.egg-info/
/dist/

# Ignore test outputs
/test/**/outdata/*
/test/**/*log

# Ignore doc outputs
/docs/_build/
