h1, h2, h3, h4, h5, h6, p, a, span, div, li, ol, ul {
    font-size: 1.0rem;
    color: #181818;
}

h1 {
    color: #364e96;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
}

h2 {
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
}

h3 {
    border-bottom: solid 3px black;
}

/* Custom styles for attention directive */
div.attention {
    background-color: #aca497;
    border-left: 4px solid #ffa500;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.release-history-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #364e96; 
    /* background color gradient: from orange at top-left to blue at bottom-right */
    background: linear-gradient(to right, #ea9800, #e30000, #364e96); 
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.release-history-link a:hover {
    background-color: #2a3d73;
} 

.release-message-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.latest-release-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 20px 0 16px;
}

.latest-release-box p {
    display: block;
    color: black;
    text-align: center;
    line-height: 0;
    margin: 0;
}